doctype html
html
  head
    title pug-stylus-es5-boilerplate

    meta(charset='UTF-8')

    link(rel="stylesheet", href="/styles/main.css", type="text/css")

  body

    h1 Hi there!

    button.alert-button trigger an alert!

    include partials/cat-picture

    .github-link
      a(href="https://github.com/Scarysize/pug-stylus-es5-boilerplate", target="_blank") Github Repo

    script(src="/scripts/bundle.js")
